<!DOCTYPE html>
{% extends "base.html" %} {% block body_block %}
<h1>About Backlog Tracker</h1>
<p>Backlog Tracker was built to provide a simple way of keeping a backlog of your favourite shows across various streaming services</p>
<p>
    This project was built using the following technologies listed below:
    <ul>
        <li> 
            HTML5
        </li> 
        <li> 
            CSS3
        </li> 
        <li> 
            Javascript
        </li> 
        <li> 
            Bootstrap
        </li> 
        <li> 
            SQLite
        </li> 
        <li> 
            Django
        </li> 
    </ul>
</p> 
<p>
Ultimately, the project was made possible thanks to the TVMaze API.
</p>
<p>
This is an open-source project so if you are interested in the source code, feel free to <a href=
"https://github.com/muhsink99/backlog_tracker">check it out here</a> 
</p>
{% endblock %}
