<!DOCTYPE html>
{% extends "base.html" %} {% block body_block %}
<h1>Welcome to Backlog Tracker</h1>
<p>
  This website is built to make it easy to keep a backlog of your favourite
  shows across various streaming services.
</p>
<p>
  The process is simple: 
  <ol>
      <li>
          Make an account & sign in 
      </li>
      <li>
          Go to the 'Catalogue' and find a show you want to start tracking 
      </li>
      <li>
        Click on the 'Add Backlog' button and navigate to your Backlog by clicking on your profile at the top-right.  
      </li>
  </ol>
</p>
{% endblock %}
