<!DOCTYPE html>
{% extends 'base.html' %} 

{% load app_filters %}
{% block body_block %}
<h1>Backlog </h1>
{% if shows %}
    {% for show in shows %}
        <h2> {{show.name}} </h2>
        <div class="row"> 
            <div class="col-md-6 col-xs-12"> 
            <img src="{{ show.image_url }}"
                class="movie-image" />
            </div>
            <div class="col-md-6 col-xs-12"> 
                <p> {{ show.summary|remove_html_tags }} </p>
                <form action="{% url 'backlog_tracker_app:update_backlog' show.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group"> 
                                <label for="password">Current episode: </label>
                                <input
                                    type="number"
                                    class="form-control"
                                    name="current-episode"
                                    value={{ show.current_episode }}
                                />  
                                / {{ show.max_episodes }}
                        </div>  
                        <button class="btn btn-primary" type="submit"> 
                            Update progress
                        </button> 
                    </form> 
                <br/> 
                <button class="btn btn-primary"> 
                    Visit show page
                </button> 
                <button class="btn btn-danger"> 
                    Remove from backlog
                </button> 
            </div>
        </div> 
        <lr/>
    {% endfor %}
{% else %}
    <p> It doesn't seem have you have any shows logged... </p>
{% endif %}
{% endblock %}